* {
    font-family: "Times New Roman", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 430px;
    height: 540px;
    gap: 10px;
}

.first, .second, .third, .fourth, .fifth {
    display: flex;
    width: 430px;
    height: 100px;
    gap: 10px;
}

.display {
    display: flex;
    width: 430px;
    height: 50px;
    justify-content: right;
    align-items: center;
    padding: 10px;
    background-color: grey;
}

button {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
}

#equal, #clear {
    flex: 1;
}